@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('./assets/fonts/Segoe\ UI.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('./assets/fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('./assets/fonts/Segoe\ UI\ Bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('./assets/fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}

#root {
  text-align: left;
  background-image: url(./assets/images/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI Regular';
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formContainer {
  margin-top: 30px;
  padding-bottom: 100px;
}

.formBox {
  background-color: white;
  text-align: left;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.gameBox {
  background-color: white;
  text-align: left;
  padding: 1rem 3rem !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.gameBox h2 {
  margin-bottom: 50px;
}

.winBox {
  text-align: center;
}

.gameBox img {
  width: 100%;
}

.homeBox {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

  overflow: auto;
}

.formBoxTitle {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#formTitle {
  font-family: 'Segoe UI Bold', sans-serif;
  font-size: 70px;
  text-align: left;
  color: white;
  opacity: 1;
}



.formBox h2 {
  font-family: 'Segoe UI Bold', sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
}

.formBox h2:before,
.formBox h2:after {
  position: absolute;
  content: '\a0';
  width: 40%;
  height: 2px;
  top: 50%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.formBox h2:before {
  margin-left: -50%;
  text-align: right;
  padding-left: 20px;
}

.gameBox h2 {
  font-family: 'Segoe UI Bold', sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
}


.gameBox h2:after {
  margin-left: 30px;
}

.gameBox h2:before,
.gameBox h2:after {
  position: absolute;
  content: '\a0';
  width: 40%;
  height: 2px;
  top: 50%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.gameBox h2:before {
  margin-left: -50%;
  text-align: right;
  padding-left: 20px;
}

.formBox h2:after {
  margin-left: 30px;
}

label {
  text-align: left;
}

.fieldContainer input,
.fieldContainer select {
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 8px;
}


.fieldContainer {
  padding-right: 90px;
}

.fieldContainer2 {
  padding-right: 90px;
  display: flex;
  flex-direction: row;
}

.formField {
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 8px;
}

.submitBtn {
  background-color: #FFD700;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  font-family: 'Segoe UI Regular';
  /* line-height: 40px; */
}

#formSubmitBtn {
  background-color: #FFD700;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 120px;
  text-align: left;
  cursor: pointer;
  font-family: 'Segoe UI Regular';
  /* line-height: 40px; */
}

#formSubmitBtn:hover {
  background-color: #e2c104;
}

.submitBtn span,
.submitBtn p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 35px;
}

.submitBtn span {
  padding-left: 5px;
}

.submitBtn:hover {
  background-color: #e2c104;
}

.titleText {
  text-align: left;
  text-shadow: 0px 0px 10px black;
}

/* ERROR CSS */

.errMsg {
  font-size: 12px;
  margin-top: 0px;
  color: red;
}

.legalContainer {
  margin-top: -30px;
}

.legalBox {
  text-align: left;
  margin-top: 50px;
  background-color: white;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  height: 60vh;
  overflow-y: scroll;
}

.grid-container h1,
.grid-container h2,
.grid-container h3,
.grid-container h4 {
  font-family: 'Segoe UI Bold', sans-serif;
}

.grid-container h1 {
  color: white;
  text-shadow: 2px 2px 10px black;
}

.confirmContainer {
  padding-bottom: 60vh;
}

.titleText p {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 20px black;
}

.formContainer .confirmTitle {
  text-align: center;
}

#checkmark {
  height: 8vh;
  margin-bottom: 20px;
}

#logo {
  margin-top: 20px;
  margin-bottom: 2rem;
  height: 120px;
  cursor: pointer;
}

.confirmBox {
  /* margin-top: 30px; */
  background-color: white;
  height: 14rem;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.gameTitle h1 {
  font-size: 52px;
}

.gameTitle li,
.gameTitle Link {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px black;
}

li a {
  color: white !important;
}

#homeImage {
  width: 50%;
}

#winningMessage {
  padding: 100px 20px 0px 20px;
}

#scratchcardDiv {
  text-align: center;
}

#formPrizes {
  color: white;
}